// как подключить шрифты:
// захожу на гуглфонс https://fonts.google.com/
// ищу нужный мне шрифт например Poppins
// выбираю нужное мне начертание например medium 500 и bold 700
// нажимаю Use on the web - @import
// копирую информацтю из style: @import url('ссылка на шрифт на гуглфонс с нужными мне начертаниями'); и добавляю CSS rules to specify families с отступами для всего сайта *

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

@import 'libs/bootstrap-reboot.min'; //подключаю бутстрап библиотеку

@import 'base/variables'; // подключаю переменные - главный цвет
@import 'base/mixins'; // подключаю файл со стилями миксинов (повторяющихся элементов) (делать это надо после вариаблес(переменных в которых лежит главный цвет main-color)

.container {
    width: 1140px;
    margin: 0 auto; // контейнер будет по середине
    }

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    //margin-top: 25px;
    margin: 25px auto 0 auto;
} //общие стили черточки

@import 'blocks/promo'; // подключаю стили для секции promo

@import 'blocks/title'; // подключаю стили для заголовков

@import 'blocks/button'; // подключаю стили кнопок

@import 'blocks/sidepanel'; // подключаю стили aside социальные сети

@import 'blocks/menu'; // подключаю гамбургер

@import 'blocks/about'; // подключаю стили раздела "обо мне" второй экран 

@import 'blocks/resume'; // подключаю стили раздела "опыт" третий экран

@import 'blocks/skills'; // подключаю стили раздела "навыки" четвертый экран

@import 'blocks/portfolio'; //подключаю стили секции "мои работы"

@import 'blocks/price'; // подключаю стили секции "прайс-лист"

@import 'blocks/contacts'; // подключаю стили секции "контакты"
