.portfolio {
    padding-top: 120px;
    //title__section-title и title__section-subtitle вынесла в общие стили title
    &__wrapper {
        margin-top: 60px;
        display: grid;
        //grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, 280px);
        grid-auto-rows: 280px;//если будут добавлять дополнительные работы они будут по 280px
        gap: 5px;
        .vertical {
            grid-row: 1 / 3; //строки от 1 линии до 3 линии чтобы картинка plans занимала 2 ячейки 
            grid-column: 4 / 5; //колонки начинаются с 4 линии и заканчиваются на 5 чтобы картинка встала справа
        }   
        .horizontal {
            grid-row: 2 / 3; //строка со 2 по 3 линию
            grid-column: 2 / 4; //колонка со 2 по 4 линию
        }
    }
    &__item {
        transition: all 0.6s; //на все анимации 0,6 секунд
        img {
            width: 100%;
            height: 100%;
            //object-fit: fill; //растягивает без соблюдения пропорций как width: 100%;max-height: 100%;
            //object-fit: contain; //сохраняет пропорции изначального изображения, высота контейнер, ширина маленькая 
            object-fit: cover; //сохраняет пропорции изначального изображения, пытается заполнить всю ширину и высоту родителя но изображение становится не красиво отцентровано. защита от дурака который не умеет подготавливать картинки для сайтов width: 100%; height: 100%; - как бы вырезает серцевинку картинки 
            //КЭНАЙЮЗ - свойство не работает в интернетэксплоэре, нужен полифил polyfill который работает на джаваскрипте
        }
        &:hover {
            //transform: scale(1.05); //масштаб увеличим при наведении на 5%
            filter: grayscale(100%); //фильтр черно-белый 100%
        }
    }
}