.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px; // fz16px-tab
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;

    }
    &__section-title {
        position: relative; //чтобы стал виден кружочек который я заинклюдила но по стандарту он становится в позиции лефт0 блока h2
        text-align: center;
        @include before_circle; //чтобы появился кружочек
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%); //чтобы кружочек встал по середине
        } // стили для того чтобы кружочек встал посередине текста "опыт" 50% слева, но транслейтом на середина кружочка встает на середине экрана, а не начинается кружочек на середине экрана, а топ - разметка верх-низ
    }
    &__section-subtitle {
        text-align: center;
    }
}






